## Coinbase Trasaction Statement.
Contains information regarding trsaction performed on the base Coinbase platform (not Coinbase Pro/GDAX)
These include receipt or transfers of money or crypto, as well as any coinbase assisted trades/sales
### How to get:
- login to Coinbase.com
- Go to: https://accounts.coinbase.com/profile 
- Select "statements"
- Click on the "transactions" tab
- "Generate custom statement" with:
    - "all assets"
    - "all transactions"
    - Select the desired year

What we are interested in here are:
- BTC "Receive" - Receipt of new crypto (income) as an Acquisition - tho maybe also just a transfer into CB before a sale in cbrpo? One tip is that even-numbered values from an ext acct are probably from me.
- BTC "Withdrawl" - implicit CB-assisted sale as a Disposition
- BTC "Send" - maybe a payment (Disposition) or maybe just a transfer out of CB (nothing reportable)

Less directly interesting are:

BTC "Exchange Deposit" - BTC being sent to CBPro/GDAX - almost certainly to be sold
USD "Exchange withdrawal" - almost always right after the BTC Exchange deposit - is the cash from the sale
USD "Withdrawal" - usually the same amount as the exchange withdrawal, and right after it: the money being transferred to a bank


Start by assuming "receive" is an acq, and "send' and an asset "withdrawl" are always dispositions

Aslo - just as an aside - the records in these TX statements are ordered newest to oldest... which is weird.

In [1]:
# allow import of local fifo-tool stuff
import os
import sys
sys.path.insert(0, os.path.abspath('../src'))

In [2]:
from typing import Dict
from datetime import datetime
import json
import numpy as np
import pandas as pd

from models.acquisition import Acquisition
from models.disposition import Disposition

In [17]:
def read_statement_csv(file_path):
    """Read a coinbase transaction statement and return a pandas dataframe.
        conversions done:
            'time' - parsed into a datestamp
            'trade id' - read as a string
    """
    date_flds = ['Timestamp']
    forced_dtypes = {}
    df =  pd.read_csv(file_path, skiprows=3, parse_dates=date_flds, dtype=forced_dtypes)
    return df

In [60]:
filebase = 'local_data/coinbase-txs-2017'

In [61]:
main_df = read_statement_csv(filebase+'.csv')

In [62]:
# work below here

In [63]:
# deal with "receive" records
btc_mask = main_df["Asset"]=='BTC'
eth_mask = main_df["Asset"]=='ETH'
usd_mask = main_df["Asset"]=='USD'

In [64]:
receive_mask = main_df["Transaction Type"]=="Receive"
#main_df[receive_mask & eth_mask]
main_df[receive_mask & btc_mask]

,ID,Timestamp,Transaction Type,Asset,Quantity Transacted,Price Currency,Price at Transaction,Subtotal,Total (inclusive of fees and/or spread),Fees and/or Spread,Notes
29,594d5d169cdd9a000166d927,2017-06-23 18:25:26+00:00,Receive,BTC,1.692279,USD,$2706.63,$4580.37422,$4580.37422,$0.00,Received 1.69227941 BTC from an external account
31,593add874d3af20001381f7e,2017-06-09 17:40:23+00:00,Receive,BTC,3.229686,USD,$2858.00,$9230.44227,$9230.44227,$0.00,Received 3.22968589 BTC from an external account
32,591dd6a724ce7400011aca37,2017-05-18 17:15:19+00:00,Receive,BTC,2.462841,USD,$1868.30,$4601.32526,$4601.32526,$0.00,Received 2.46284069 BTC from an external account
34,5900f366ac0fae00018cda81,2017-04-26 19:22:14+00:00,Receive,BTC,3.575247,USD,$1308.15,$4676.95951,$4676.95951,$0.00,Received 3.57524711 BTC from an external account
40,58ee46a4049ddb00013ca931,2017-04-12 15:24:20+00:00,Receive,BTC,3.767978,USD,$1216.97,$4585.51658,$4585.51658,$0.00,Received 3.76797832 BTC from an external account
44,58dd48a455dcea0001fbdda0,2017-03-30 18:04:20+00:00,Receive,BTC,4.493122,USD,$1037.67,$4662.37799,$4662.37799,$0.00,Received 4.49312208 BTC from an external account
45,58caa754f352a300015b8c54,2017-03-16 14:55:16+00:00,Receive,BTC,3.803601,USD,$1223.49,$4653.66736,$4653.66736,$0.00,Received 3.80360065 BTC from an external account
49,58b88257a4636b0001e50492,2017-03-02 20:36:39+00:00,Receive,BTC,3.668516,USD,$1280.55,$4697.71789,$4697.71789,$0.00,Received 3.66851579 BTC from an external account
53,58ab19834ab22704c07bc030,2017-02-20 16:29:55+00:00,Receive,BTC,4.369160,USD,$1065.63,$4655.90818,$4655.90818,$0.00,Received 4.3691602 BTC from an external account
57,58a4b9183eb1b900019a4fda,2017-02-15 20:24:56+00:00,Receive,BTC,5.000000,USD,$1014.00,$5070.00,$5070.00,$0.00,Received 5 BTC from an external account
64,58935bf38fdf8300019c006d,2017-02-02 16:18:59+00:00,Receive,BTC,4.672174,USD,$998.93,$4667.17475,$4667.17475,$0.00,Received 4.67217398 BTC from an external account
65,589359d7ad276f000133d927,2017-02-02 16:09:59+00:00,Receive,BTC,5.000000,USD,$997.50,$4987.50,$4987.50,$0.00,Received 5 BTC from an external account
69,588923bc0067d70001fdcd5d,2017-01-25 22:16:28+00:00,Receive,BTC,5.193833,USD,$898.59,$4667.12648,$4667.12648,$0.00,Received 5.19383309 BTC from an external account
73,586fda406861ee00010a4a48,2017-01-06 17:56:16+00:00,Receive,BTC,10.216336,USD,$916.02,$9358.36833,$9358.36833,$0.00,Received 10.21633625 BTC from an external account

In [53]:
wd_mask = main_df["Transaction Type"]=="Withdrawal"
main_df[wd_mask]

,ID,Timestamp,Transaction Type,Asset,Quantity Transacted,Price Currency,Price at Transaction,Subtotal,Total (inclusive of fees and/or spread),Fees and/or Spread,Notes
0,586323db8f65540d05e1bd9c,2016-12-28 02:30:51+00:00,Withdrawal,USD,4647.07,USD,$1.00,$4647.07,$4647.07,$0.00,Withdrawal to Discover Bank ******0272
6,583f8f636bfea60202a097f5,2016-12-01 02:48:03+00:00,Withdrawal,USD,4730.46,USD,$1.00,$4730.46,$4730.46,$0.00,Withdrawal to Discover Bank ******0272
10,582cb22f4ab22704c07bc100,2016-11-16 19:23:27+00:00,Withdrawal,USD,6850.52,USD,$1.00,$6850.52,$6850.52,$0.00,Withdrawal to Discover Bank ******0272
15,581757a119ddf60dc86ffecf,2016-10-31 14:39:29+00:00,Withdrawal,USD,3474.35,USD,$1.00,$3474.35,$3474.35,$0.00,Withdrawal to Discover Bank ******0272
19,580eabf7a11a1f00ec0f3006,2016-10-25 00:48:55+00:00,Withdrawal,USD,3249.45,USD,$1.00,$3249.45,$3249.45,$0.00,Withdrawal to Discover Bank ******0272
22,580d54da4ab22704c07bc0ff,2016-10-24 00:24:58+00:00,Withdrawal,USD,6342.25,USD,$1.00,$6342.25,$6342.25,$0.00,Withdrawal to Discover Bank ******0272
28,57fd2ce44ab22704c07bc0fd,2016-10-11 18:18:12+00:00,Withdrawal,USD,4124.05,USD,$1.00,$4124.05,$4124.05,$0.00,Withdrawal to Discover Bank ******0272
32,57ee96c3d76b8178559f5b6e,2016-09-30 16:45:55+00:00,Withdrawal,USD,4650.84,USD,$1.00,$4650.84,$4650.84,$0.00,Withdrawal to Discover Bank ******0272
35,57ee95340ec45150859e1cda,2016-09-30 16:39:16+00:00,Withdrawal,USD,4482.55,USD,$1.00,$4482.55,$4482.55,$0.00,Withdrawal to Discover Bank ******0272
41,57bb5ff58a4ad140ac2a103e,2016-08-22 20:26:29+00:00,Withdrawal,USD,4650.43,USD,$1.00,$4650.43,$4650.43,$0.00,Withdrawal to Discover Bank ******0272
45,57ab359f2205ad347b66e07c,2016-08-10 14:09:35+00:00,Withdrawal,USD,4667.94,USD,$1.00,$4667.94,$4667.94,$0.00,Withdrawal to Discover Bank ******0272
49,579ad5b04ab22704c07bc0fb,2016-07-29 04:04:00+00:00,Withdrawal,USD,4685.78,USD,$1.00,$4685.78,$4685.78,$0.00,Withdrawal to Discover Bank ******0272
55,5771b1e34ab22704c07bc0fa,2016-06-27 23:08:19+00:00,Withdrawal,USD,5740.01,USD,$1.00,$5740.01,$5740.01,$0.00,Withdrawal to Discover Bank ******0272
59,575190b0a7edd912be000be1,2016-06-03 14:14:08+00:00,Withdrawal,USD,5986.09,USD,$1.00,$5986.09,$5986.09,$0.00,Withdrawal to Discover Bank ******0272
62,5750dcfc4ab22704c07bc0f9,2016-06-03 01:27:24+00:00,Withdrawal,USD,5402.30,USD,$1.00,$5402.30,$5402.30,$0.00,Withdrawal to Discover Bank ******0272
75,57114547c0f71000ef0001d6,2016-04-15 19:47:19+00:00,Withdrawal,USD,2150.00,USD,$1.00,$2150.00,$2150.00,$0.00,Withdrawal to Discover Bank ******0272
78,570c0ee6371562039b00021b,2016-04-11 20:53:58+00:00,Withdrawal,USD,4234.90,USD,$1.00,$4234.90,$4234.90,$0.00,Withdrawal to Discover Bank ******0272
80,570bb6c54ab22704c07bc0f8,2016-04-11 14:37:57+00:00,Withdrawal,USD,4245.00,USD,$1.00,$4245.00,$4245.00,$0.00,Withdrawal to Discover Bank ******0272
83,5707bb984ab22704c07bc0f7,2016-04-08 14:09:28+00:00,Withdrawal,USD,4229.81,USD,$1.00,$4229.81,$4229.81,$0.00,Withdrawal to Discover Bank ******0272
89,56f8a6368f1ad774f400033e,2016-03-28 03:34:14+00:00,Withdrawal,USD,4229.89,USD,$1.00,$4229.89,$4229.89,$0.00,Withdrawal to Discover Bank ******0272
90,56f30eeae357d500ef0000f4,2016-03-23 21:47:22+00:00,Withdrawal,USD,4180.00,USD,$1.00,$4180.00,$4180.00,$0.00,Withdrawal to Discover Bank ******0272
94,56d745774ab22704c07bc0f6,2016-03-02 19:56:39+00:00,Withdrawal,USD,8575.00,USD,$1.00,$8575.00,$8575.00,$0.00,Withdrawal to Discover Bank ******0272
98,56c5dd82ef9d0909290000fa,2016-02-18 15:04:34+00:00,Withdrawal,USD,5000.05,USD,$1.00,$5000.05,$5000.05,$0.00,Withdrawal to Discover Bank ******0272
102,56bb519795ff724c6d0003d7,2016-02-10 15:04:55+00:00,Withdrawal,USD,5000.48,USD,$1.00,$5000.48,$5000.48,$0.00,Withdrawal to Discover Bank ******0272

In [54]:
mask = main_df["Transaction Type"]=="Send"
main_df[mask]

,ID,Timestamp,Transaction Type,Asset,Quantity Transacted,Price Currency,Price at Transaction,Subtotal,Total (inclusive of fees and/or spread),Fees and/or Spread,Notes
4,5850ca014ab22704c07bc02e,2016-12-14 04:26:41+00:00,Send,BTC,6.582176,USD,$780.36,$5136.46686,$5136.46686,$0.00,Sent 6.582176 BTC to 17E1d6imGzRiEAEnBoyFstqo6...
30,57fb82d54ab22704c07bc027,2016-10-10 12:00:21+00:00,Send,BTC,0.275000,USD,$617.25,$169.74375,$169.74375,$0.00,Sent 0.275 BTC to 1FniuBCp8TDK826Vc1KTYeRAe6Md...
38,57d718bc4ab22704c07bc025,2016-09-12 21:06:04+00:00,Send,BTC,0.021360,USD,$607.30,$12.97193,$12.97193,$0.00,Sent 0.02136 BTC to 1KTgDix5wWpdKejjdcq2z58dZC...
66,573c77874ab22704c07bc01d,2016-05-18 14:09:11+00:00,Send,BTC,11.745304,USD,$456.81,$5365.37217,$5365.37217,$0.00,Sent 11.74530367 BTC to 1NpzT2JvX1BHU9eCixU45b...
67,573364a94ab22704c07bc01c,2016-05-11 16:58:17+00:00,Send,BTC,6.400000,USD,$456.10,$2919.04,$2919.04,$0.00,Sent 6.4 BTC to 14SFGJwsn1qN7oaL3yQWttWFR9tuiB...
68,572b914d4ab22704c07bc01b,2016-05-05 18:30:37+00:00,Send,BTC,1.200000,USD,$449.45,$539.34,$539.34,$0.00,Sent 1.2 BTC to 1Eyf3fSe17zFrWoQx8GnWypzqCFDpK...
69,572a39ec4ab22704c07bc01a,2016-05-04 18:05:32+00:00,Send,BTC,1.200000,USD,$448.18,$537.81600,$537.81600,$0.00,Sent 1.2 BTC to 1HLsLYQWkJ6JPaQNfzbBkCQXKUU6CC...
70,5728c0254ab22704c07bc019,2016-05-03 15:13:41+00:00,Send,BTC,1.200000,USD,$449.33,$539.19600,$539.19600,$0.00,Sent 1.2 BTC to 1KH2Q2NQPb6TQaTGg3pE1w8gcUeSUS...
72,5727b19c4ab22704c07bc017,2016-05-02 19:59:24+00:00,Send,BTC,0.490000,USD,$444.03,$217.57470,$217.57470,$0.00,Sent 0.49 BTC to 19tNm43rCx8ds2tMqLK64hExBsS2J...
73,572788064ab22704c07bc016,2016-05-02 17:01:58+00:00,Send,BTC,0.010000,USD,$444.44,$4.44440,$4.44440,$0.00,Sent 0.01 BTC to 167pw7aLueusCCMabEzqjrnUJqyHx...